 body {
     padding-top: 70px;
     background-color: rgb(17,48,101);
 }

 section {
     margin-bottom: 200px;
 }

 .carousel-item {
     height: 500px;
 }

 .carousel-item img {
     height: 100%;
     object-fit: cover;
 }

 .card-img-top {
     width: 100%;
     height: 15vw;
     object-fit: cover;
 }

 .front {
    color:white;
     font-family: "Jim Nightshade", cursive;
     font-weight: 800;
     font-size: 90px;
     font-style: normal;
 }

 .imagecrop {
    width:250px;
  height:auto;
    
 }

 .bgofborder{
    background-color: rgb(82,102,122);
 }
 .textwhite{
    color:white;
 }


 

 .character{
     font-family: "Playfair Display", serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
 }


.card {
  width: 200px;
  padding: 12px;
  border-radius: 12px;
  background: #1e1e1e;
  color: white;
  text-align: center;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}